<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_news_list), session[:return_to] || admin_headlines_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_headline_link">
    <%= button_link_to Spree.t(:new_headline), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_headline' } %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @headline } %>

<%= form_for [:admin, @headline], :method => :put do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>