<% @body_id = 'cart' %>

<h1><%= Spree.t(:shopping_cart) %></h1>

<% if @order.line_items.empty? %>

  <div id="checkout" data-hook="empty_cart">
    <p><%= Spree.t(:your_cart_is_empty) %></p>
    <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button' %></p>
  </div>

<% else %>

  <div data-hook="outside_cart_form">
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div data-hook="inside_cart_form">

        <div data-hook="cart_items">
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
        </div>

        <div id="cart-end">
          <div id="subtotal" data-hook>
            <h5><%= Spree.t(:total) %>: <span class="order-total"><%= @order.display_total.to_html %></span></h5>
          </div>

          <div id="cart-actions" data-hook>
            <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
            <%= button_tag :class => 'primary', :id => 'update-button' do %>
              <%= Spree.t(:update) %>
            <% end %>
          </div>
        </div>

        <div id="checkout" data-hook="cart_buttons">
          <div id="total"><%= Spree.t(:total) %>: <span class="order-total"><%= @order.display_total.to_html %></span></div>
          Ships within 1-2 business days.
          <%= button_tag :id => 'checkout-link', :name => 'checkout' do %>
            <%= Spree.t(:place_your_order) %>
          <% end %>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), products_path %>
        </div>
      </div>
    <% end %>
  </div>

  <%= button_to Spree.t(:empty_cart), empty_cart_path, method: :put %>

<% end %>