<% provide(:title, 'Edit Profile') %>
<h2>Settings for <%= @user.email %></h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

     <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Update" %></div>
    <% end %>

    <p>Delete this user <%= button_to "Cancel this account", @user, method: :delete, data: { confirm: "You sure? Deleting this user will also delete their surveys in the system." } %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
