<table>
	<tr  align="center">
		<td>
			<h4><%= headline.title.capitalize %></h4>
		</td>
	</tr>
	<tbody>
		<td>
			<article>
				<%= wrap(headline.body) %>
			</article>
		</td>
	</tbody>
	<tfoot>
		<td>
			<small class="left">
				<%= Spree.t(:poster) + " " %><%= headline.poster.empty? ? "Anonymous" : headline.poster %>
			</small>
			<small class="right">
				<%= headline.created_at %>
			</small>
		</td>
	</tfoot>
</table>