<div class="address">

  <div class="address_table">
    <table border="1" rules="all" frame="void" bordercolor="#000000" width="100%" cellpadding="3" cellspacing="3">
      <tr>
        <td>Address Line 1</td>
        <td>Address Line 2</td>
        <td>State</td>
        <td>Postal Code</td>
      </tr>
      <tr>
        <td><%= address.address_1 %></td>
        <td><%= address.address_2 %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
      </tr>
    </table>
  </div>
  

  <span class="date">
    Date added <%= (address.created_at) %>.
  </span>

  <div>
    <%= link_to "edit", edit_address_path(address) %>
    | <%= link_to "delete", address, method: :delete,
                              data: { confirm: "Are you sure you want to remove this address?" } %>
  </div>
  

</div>