<% provide(:title, 'Add Address') %>

<h1>Add Shipping Address</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@address) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :address_1 %>
			<%= f.text_field :address_1 %>

			<%= f.label :address_2 %>
			<%= f.text_field :address_2 %>

			<%= f.label :state %>
			<%= f.text_field :state %>

			<%= f.label :zip_code %>
			<%= f.text_field :zip_code %>

			<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
