<script type="text/javascript">
    $(document).ready(function(){

        $(function(){$("#toggle").hide();})
        $("#trigger").click(function(){
            $("#toggle").animate({width: 'toggle'});
        });

    });
</script>

<header>
    <div class="container-fluid">
        <ul class="nav pull-left">
            <%= dropdown(:home, root_path) %>
            <% if spree_user_signed_in? %>
                <% if spree_current_user.admin? %>
                    <%= dropdown(:administrate, spree.admin_path, 
                        {order: spree.admin_orders_path, 
                        products: spree.admin_products_path, 
                        reports: spree.admin_reports_path, 
                        configuration: spree.edit_admin_general_settings_path, 
                        news: spree.admin_headlines_path, 
                        promotionals: spree.admin_promotions_path, 
                        users: spree.admin_users_path}) %>
                <% end %>
                <%= dropdown(:account, spree_current_user, 
                    {account: spree_current_user, 
                    logout: destroy_spree_user_session_path}) %>
            <% else %>
                <%= dropdown(:login, login_path, 
                    {login: login_path, 
                    sign_up: signup_path}) %>
            <% end %>
            <%= dropdown(:help, help_path, 
                {faq: help_path, 
                contact_us: contact_path}) %>
            <%= dropdown(:inventory, products_path, {all_items: spree.products_path}) %>
        </ul>
        <ul class="nav pull-right">
          <%= form_tag products_url, method: :get, :class => 'navbar-search' do %>
            <input type="search" id="toggle" class="search-query" name="keywords" placeholder="Search">
            <%= image_tag("store/magnifier.png", id: "trigger", alt: "Search")%>
            <% if !params[:per_page].nil? %>
                <%= hidden_field_tag :per_page, params[:per_page] %>
            <% end %>
          <% end %>
          <li id="link-to-cart"><%= link_to_cart %></li>
        </ul>
    </div>
</header>