<script type="text/javascript">
    $(document).ready(function(){

        $(function(){$("#toggle").hide();})
        $("#trigger").click(function(){
            $("#toggle").animate({width: 'toggle'});
        });

        $(".wrap").corner("bottom bevel cc:#fff");

        $("header").hoverIntent(
          function () {
            $(".navbar-inner").slideDown(1000, "easeOutBounce");
            $("#arrow").attr('class', 'caret-up');
          },
          function () {
            $(".navbar-inner").slideUp("slow", "easeInCirc");
            $("#arrow").attr('class', 'caret');
          }
        );

    });
</script>

<header>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <li class="logo">
                <%= logo %>
            </li>
            <li class="wrap"></li>
            <ul class="nav"> 
                <% if spree_user_signed_in? %>
                    <% if spree_current_user.admin? %>
                        <li class="dropdown"><%= link_to t(:administrate), spree.admin_path, :target => '_blank', class: "dropdown-toggle", :'data-hover' => "dropdown", :'data-delay' => "0" %> 
                            <ul class="dropdown-menu">
                                <div class="block"></div>
                                <li><%= link_to "Overview", spree.admin_path %></li>
                                <li><%= link_to "Order", spree.admin_orders_path %></li>
                                <li><%= link_to "Products", spree.admin_products_path %></li>
                                <li><%= link_to "Reports", spree.admin_reports_path %></li>
                                <li><%= link_to "Configuration", spree.edit_admin_general_settings_path %></li>
                                <li><%= link_to "News", spree.admin_headlines_path %></li>
                                <li><%= link_to "Promotionals", spree.admin_promotions_path %></li>
                                <li><%= link_to "Users", spree.admin_users_path %></li>
                            </ul> 
                        </li>
                    <% end %>
                    <li class="dropdown"><%= link_to "Account", spree_current_user, class: "dropdown-toggle", :'data-hover' => "dropdown", :'data-delay' => "0" %> 
                        <ul class="dropdown-menu">
                            <div class="block"></div>
                            <li><%= link_to "Account", spree_current_user %></li>
                            <li><%= link_to "Logout", destroy_user_session_path %></li>
                        </ul> 
                    </li>
                <% else %>
                    <li class="dropdown"><%= link_to "Login", login_path, class: "dropdown-toggle", :'data-hover' => "dropdown", :'data-delay' => "0" %> 
                        <ul class="dropdown-menu">
                            <div class="block"></div>
                            <li><%= link_to "Login", login_path %></li>
                            <li><%= link_to "Sign up", signup_path %></li>
                        </ul> 
                    </li>
                <% end %>
                <li class="dropdown"><%= link_to "Help", help_path, class: "dropdown-toggle", :'data-hover' => "dropdown", :'data-delay' => "0" %>
                    <ul class="dropdown-menu">
                        <div class="block"></div>
                        <li><%= link_to "FAQ", help_path %></li> 
                        <li><%= link_to "Contact us", contact_path %></li>
                    </ul> 
                </li>
                <li class="dropdown"><%= link_to "Inventory", products_path, class: "dropdown-toggle", :'data-hover' => "dropdown", :'data-delay' => "0" %> 
                    <ul class="dropdown-menu">
                        <div class="block"></div> 
                        <li><%= link_to "All items", spree.products_path %></li>
                        <% get_taxonomies.where(:name => 'Categories').each do |taxonomy| %>
                            <%= taxons_tree(taxonomy.root, @taxon) %>
                        <% end %>
                    </ul> 
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="search"> 
                  <%= form_tag products_url, method: :get, :class => 'navbar-search' do %>
                    <input type="search" id="toggle" class="search-query" name="keywords" placeholder="Search">
                    <%= image_tag("store/magnifier.png", id: "trigger", alt: "Search")%>
                    <% if !params[:per_page].nil? %>
                        <%= hidden_field_tag :per_page, params[:per_page] %>
                    <% end %>
                  <% end %>
                </li> 
                <li id="link-to-cart"><%= link_to_cart %></li>
            </ul>
        </div>
    </div>
</div>
<div class="trigger"><div id="arrow" class="caret"></div></div>
</header>