<script type="text/javascript">
$(document).ready(function(){
  $(function(){$("#toggle").hide();})
  $("#trigger").click(function(){
    $("#toggle").animate({width: 'toggle'});
  });
});
</script>

<header>
<% if spree_current_user %>
  <ul id="login-nav" class="inline-menu">
    <li><%= t(:logged_in_as) %>: <%= spree_current_user.email %></li>
    <li><i class="icon-account"></i><%= link_to t(:account), spree.user_path(spree_current_user) %></li>
    <li><i class="icon-signout"></i><%= link_to t(:logout), spree.logout_path %></li>
    <li><i class="icon-external-link"></i><%= link_to t(:store), spree.products_path, :target => '_blank' %></li>
    <% if spree_current_user.admin? %>
        <li><i class="icon-dashboard"></i><%= link_to t(:administrate), spree.admin_path, :target => '_blank' %></li>
    <% end %>
  </ul>
<% end %>
<ul id="menu"> 
    <li class="logo">
        <%= link_to "Apotecharie", root_path %>
        <ul id="main"> 
            <li>Welcome to <b>Apotecharie!</b></li> 
        </ul> 
    </li>
    <% if spree_user_signed_in? %> 
    <li><%= link_to "Welcome back!", spree_current_user %> 
        <ul class="inset-right">
            <li><%= link_to "Account", spree_current_user %></li>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
        </ul> 
    </li>
    <% else %>
    <li><%= link_to "Login", login_path %> 
        <ul class="inset-right">
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
        </ul> 
    </li>
    <% end %>
    <li><%= link_to "Help", help_path %>
        <ul class="inset">
            <li><%= link_to "FAQ", help_path %></li> 
            <li><%= link_to "Contact us", contact_path %></li>
        </ul> 
    </li>
    <li><%= link_to "Inventory", products_path %> 
        <ul class="inset"> 
            <li><%= link_to "FAQ", help_path %></li> 
            <li><%= link_to "Contact us", contact_path %></li>
        </ul> 
    </li>
    <li><%= link_to "Inventory", products_path %> 
        <ul class="inset"> 
            <li><%= link_to "FAQ", help_path %></li> 
            <li><%= link_to "Contact us", contact_path %></li>
        </ul> 
    </li>
    <div class="float-right">
        <li class="searchContainer"> 
          <%= form_tag products_url, method: :get, :class => 'navbar-form' do %>
            <div> 
            <input type="search" id="toggle" name="keywords" placeholder="Search">
            <%= image_tag("store/magnifier.png", id: "trigger", alt: "Search")%>
            </div>
            <% if !params[:per_page].nil? %>
                <%= hidden_field_tag :per_page, params[:per_page] %>
            <% end %>
          <% end %>
        </li> 
        <li id="link-to-cart"><%= link_to_cart %></li>
    </div>
</ul> 
</header>