<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <div class="inventory-header">
    <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
      <%= render partial: 'per_page' %>
  </div>
<% end %>

<% if products.any? %>

<script type="text/javascript">
    $(document).ready(function(){

      $("#products li").hover(function(){
        $(".selling", this).css("background-color","#404040");
        },function(){
        $(".selling", this).css("background-color","#202020");
      });

    });
</script>

<ul id="products" class="inline product-listing" data-hook>
  <% products.each do |product| %>
    <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
      <div class="product-image">
        <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
      </div>
      <span class="price selling" itemprop="price"><%= display_price(product) %></span>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>